TREEBOT_SERVER_HOST=insanesmp.net
TREEBOT_SERVER_PORT=25565
TREEBOT_MC_VERSION=1.21.11
TREEBOT_USERNAME=Vanshika9_YT
TREEBOT_PASSWORD=CHANGE_ME
TREEBOT_STAND_X=0
TREEBOT_STAND_Y=64
TREEBOT_STAND_Z=0
TREEBOT_FACING_YAW=0
TREEBOT_PAY_RECIPIENT=ShadowX_Prime
PORT=10000
